<div class="authform">
	<div class="row">
		<div class="box">
			<div class="col-lg-12">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h3>Sign up</h3>
    <%= devise_error_messages! %>
    <div class="form-group">
			<h5>Please enter your name:</h5>
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>

			<div class="form-group">
				<h5>Please enter the name of your promotion:</h5>
				<%= f.label :promotion %>
				<%= f.text_field :promotion, :autofocus => true, class: 'form-control' %>
			</div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
     <%= f.submit 'Sign up', :class => 'btn btn-large btn-primary' %>
  <% end %>
</div>
</div>
</div>
</div>
