<div class="container">

	<div class="row">
		<div class="box">
			<div class="col-lg-12 text-center">
				<div id="carousel-example-generic" class="carousel slide">
					<!-- Indicators -->
					<ol class="carousel-indicators hidden-xs">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active">
							<%=image_tag "slide-1.jpg", class: "img-responsive img-full"  %>
						</div>
						<div class="item">
							<%=image_tag "slide-2.jpg", class: "img-responsive img-full"  %>
						</div>
						<div class="item">
							<%=image_tag "slide-3.jpg", class: "img-responsive img-full"  %>
						</div>
					</div>

					<!-- Controls -->
					<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
						<span class="icon-prev"></span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
						<span class="icon-next"></span>
					</a>
				</div>
				<h2 class="brand-before">
					<small>Welcome to</small>
				</h2>
				<h1 class="brand-name">Cream of the Crop</h1>
				<hr class="tagline-divider">
				<h2>
					<small>An App by
						<strong> Michael Nash </strong>
						-- The Iron Yard St. Petersburg Ruby on Rails Cohort Summer 2015
					</small>
				</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="box">
			<div class="col-lg-12">
				<hr>
				<h2 class="intro-text text-center">Nothing means
					<strong>nothing</strong>
				</h2>
				<hr>
				<%= image_tag "intro-pic.jpg", class: "img-responsive img-border img-left"  %>
				<hr class="visible-xs">
				<p>This is an app about dead wrestlers. </p>
				<p>Are you running into trouble keeping all the storylines in your wrestling promotion straight? Do you find
					yourself dropping feuds in the middle of a a story arc because you forgot about some of the moving pieces?
					Do you dread having to rearrange your entire schedule when one of your wrestlers gets injured? Are you
					looking for a web-based tool to keep track of the complex systems of stories that exist within a wrestling
					promotion?
				</p>
				<p>Well, <strong>look no further!</strong> With the <i>Cream of the Crop</i> app, our system does all of
					that work for you. Sign up, sign in, authenticate with Google so you don't have to remember your password.
					Simply enter the relevant
					information about your
					wrestlers	on the
					Roster Page. Once you
					have your roster, you can click on the Generate Card! link to set up a list of matches for your next show,
					randomly generated. Updates and featurtes are being added to this app all the time In the future you will be able to:. Create feuds between wrestlers, set up the schedule for your shows, and generate cards months
					out of your schedule. </p>
				<p>Lack of attention to plot detail is one of the greatest problems plaguing modern American Pro Wrestling.
					Famous Wrestling journalist Brandon Stroud of <%= link_to 'Uproxx', 'http://uproxx
					.com/topic/best-and-worst-of-raw/' %> complains about that very thing more or less every week.
				</p>
				<p>
					So remember: Amongst wrestling scheduling apps, ours is the <strong>Cream of the Crop</strong>.
				</p>

			</div>
		</div>
	</div>
</div>

		<!-- Copyright 2013-2015 Iron Summit Media Strategies, LLC
-
-   Licensed under the Apache License, Version 2.0 (the "License");
-   you may not use this file except in compliance with the License.
-   You may obtain a copy of the License at
-
-       http://www.apache.org/licenses/LICENSE-2.0
-
-   Unless required by applicable law or agreed to in writing, software
-   distributed under the License is distributed on an "AS IS" BASIS,
-   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
-   See the License for the specific language governing permissions and
-   limitations under the License.-->
