<%= form_for(@wrestler) do |f| %>
  <% if @wrestler.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wrestler.errors.count, "error") %> prohibited this wrestler from being saved:</h2>

      <ul>
      <% @wrestler.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
		<p>Alignment:</p>
		<%= f.radio_button :alignment, true %>
		<%= f.label"Babyface (Tecnico)" %>
		<%= f.radio_button :alignment, false %>
		<%= f.label "Heel (Rudo)" %>
  </div>
  <div class="form-group">
		<p>Card Position:</p>
		<%= f.radio_button :position, 1 %>
		<%= f.label "Undercard" %>
		<%= f.radio_button :position, 2 %>
		<%= f.label "Low Card" %>
		<%= f.radio_button :position, 3 %>
		<%= f.label "Mid Card" %>
		<%= f.radio_button :position, 4 %>
		<%= f.label "High Card" %>
		<%= f.radio_button :position, 5 %>
		<%= f.label "Main Event" %>
  </div>
  <div class="form-group">
    <%= f.label :injured, "injured?" %><br>
    <%= f.check_box :injured, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :class => "btn btn-large btn-primary" %>
  </div>
<% end %>
