<p id="notice"><%= notice %></p>
<div class="row">
<div class="box">
	<div class="col-lg-12">
		<hr>
		<h1 class="text-center">
			<%unless current_user.promotion.blank?  %>
				<%=current_user.promotion  %> -- Roster</h1>
			<%else  %>
					<h1>Roster</h1>
			<%end  %>
		<hr>
	</div>
</div>
</div>
<div class="row">
	<div class="box">
		<div class="col-lg-12">
			<hr>
			<h2 class="text-center">
				<strong>Your Wrestlers in the Main Event! </h2></strong>
				<h3 class ="intro-text text-center"><u>Babyfaces (Tecnicos)</u> </h3>
			<%unless @main_event_babyfaces.blank?  %>
			<% @main_event_babyfaces.each do |wrestler|  %>
					<div class="col-sm-4 text-center">
						<%=image_tag wrestler.image.url, class: "img-responsive"  %>
						<h3><%= wrestler.name  %>
						</h3>
						<h6 class= "text-center"><p><%= link_to 'Wrestler Profile', wrestler, class: "btn btn-small btn-primary"
						%></p>
							<p><%= link_to 'Change Details', edit_wrestler_path(wrestler), class: "btn btn-small btn-info" %></p>
							<p><%= link_to 'You\'re Fired', wrestler, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn
		btn-small btn-danger" %></p></h6>
					</div>
					<%end  %>
			<%else  %>
				<h4 class ="intro-text text-center">
				You have no babyface wrestlers able to compete in the Main Event! <%= link_to 'Hire a new wrestler', new_wrestler_path %><br>
					Turn a heel face! Turn a face heel! Promote somebody! Alternatively
				</h4><br>
					<h1 class="text-center"> SHOVE THAT CONTROL INTO A NOSE DIVE!!!</h1>
			<%end  %>
			</div>
		</div>
	</div>
<div class="row">
	<div class="box">
		<div class="col-lg-12">
			<hr>
<h3 class ="intro-text text-center"><u>Heels (Rudos)</u> </h3>
			<%unless @main_event_heels.blank?  %>
				<% @main_event_heels.each do |wrestler|  %>
					<div class="col-sm-4 text-center">
						<%=image_tag wrestler.image.url, class: "img-responsive"  %>
						<h3><%= wrestler.name  %>
						</h3>
						<h6 class= "text-center"><p><%= link_to 'Wrestler Profile', wrestler, class: "btn btn-small btn-primary"
						%></p>
							<p><%= link_to 'Change Details', edit_wrestler_path(wrestler), class: "btn btn-small btn-info" %></p>
							<p><%= link_to 'You\'re Fired', wrestler, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn
		btn-small btn-danger" %></p></h6>
					</div>
				<%end  %>
			<%else  %>
					<h4 class ="intro-text text-center">
						You have no heel wrestlers able to compete in the Main Event! <%= link_to 'Hire a new wrestler', new_wrestler_path %><br>
						Turn a heel face! Turn a face heel! Promote somebody! Alternatively
					</h4><br>
					<h1 class="text-center"> SHOVE THAT CONTROL INTO A NOSE DIVE!!!</h1>
			<%end  %>
		</div>
	</div>
</div>
<div class="row">
<div class="row">
	<div class="box">
		<div class="col-lg-12">
			<hr>
			<h2 class="text-center">
				<strong>Your Wrestlers in the High Card! </h2></strong>
			<h3 class ="intro-text text-center"><u>Babyfaces (Tecnicos)</u> </h3>
			<%unless @high_card_babyfaces.blank?  %>
				<% @high_card_babyfaces.each do |wrestler|  %>
					<div class="col-sm-4 text-center">
						<%=image_tag wrestler.image.url, class: "img-responsive"  %>
						<h3><%= wrestler.name  %>
						</h3>
						<h6 class= "text-center"><p><%= link_to 'Wrestler Profile', wrestler, class: "btn btn-small btn-primary"
						%></p>
							<p><%= link_to 'Change Details', edit_wrestler_path(wrestler), class: "btn btn-small btn-info" %></p>
							<p><%= link_to 'You\'re Fired', wrestler, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn
		btn-small btn-danger" %></p></h6>
					</div>
				<%end  %>
			<%else  %>
					<h4 class ="intro-text text-center">
						You have no babyface wrestlers able to compete in the High Card! <%= link_to 'Hire a new wrestler',
																																									 new_wrestler_path %><br>
						Turn a heel face! Turn a face heel! Promote somebody! Alternatively
					</h4><br>
					<h1 class = "text-center"> SHOVE THAT CONTROL INTO A NOSE DIVE!!!</h1>
			<%end  %>
		</div>
	</div>
</div>
<div class="row">
	<div class="box">
		<div class="col-lg-12">
			<hr>
			<h3 class ="intro-text text-center"><u>Heels (Rudos)</u> </h3>
				<% unless @high_card_heels.blank?  %>
				<% @high_card_heels.each do |wrestler|  %>
					<div class="col-sm-4 text-center">
						<%=image_tag wrestler.image.url, class: "img-responsive"  %>
						<h3><%= wrestler.name  %>
						</h3>
						<h6 class= "text-center"><p><%= link_to 'Wrestler Profile', wrestler, class: "btn btn-small btn-primary"
						%></p>
							<p><%= link_to 'Change Details', edit_wrestler_path(wrestler), class: "btn btn-small btn-info" %></p>
							<p><%= link_to 'You\'re Fired', wrestler, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn
		btn-small btn-danger" %></p></h6>
					</div>
				<%end  %>
			<%else  %>
					<h4 class ="intro-text text-center">
						You have no heel wrestlers able to compete in the High Card! <%= link_to 'Hire a new wrestler',
																																												 new_wrestler_path %><br>
						Turn a heel face! Turn a face heel! Promote somebody! Alternatively
					</h4><br>
					<h1 class = "text-center"> SHOVE THAT CONTROL INTO A NOSE DIVE!!!</h1>
			<%end  %>
		</div>
	</div>
</div>
	<div class="row">
		<div class="row">
			<div class="box">
				<div class="col-lg-12">
					<hr>
					<h2 class="text-center">
						<strong>Your Wrestlers in the Mid Card! </h2></strong>
					<h3 class ="intro-text text-center"><u>Babyfaces (Tecnicos)</u> </h3>
					<%unless @mid_card_babyfaces.blank?  %>
						<% @mid_card_babyfaces.each do |wrestler|  %>
							<div class="col-sm-4 text-center">
								<%=image_tag wrestler.image.url, class: "img-responsive"  %>
								<h3><%= wrestler.name  %>
								</h3>
								<h6 class= "text-center"><p><%= link_to 'Wrestler Profile', wrestler, class: "btn btn-small btn-primary"
								%></p>
									<p><%= link_to 'Change Details', edit_wrestler_path(wrestler), class: "btn btn-small btn-info" %></p>
									<p><%= link_to 'You\'re Fired', wrestler, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn
		btn-small btn-danger" %></p></h6>
							</div>
						<%end  %>
					<%else  %>
							<h4 class ="intro-text text-center">
								You have no babyface wrestlers able to compete in the Mid Card! <%= link_to 'Hire a new wrestler',
																																														 new_wrestler_path %><br>
								Turn a heel face! Turn a face heel! Promote somebody! Alternatively
							</h4><br>
							<h1 class = "text-center"> SHOVE THAT CONTROL INTO A NOSE DIVE!!!</h1>
					<%end  %>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="box">
				<div class="col-lg-12">
					<hr>
					<h3 class ="intro-text text-center"><u>Heels (Rudos)</u> </h3>
					<%unless @mid_card_heels.blank?  %>
						<% @mid_card_heels.each do |wrestler|  %>
							<div class="col-sm-4 text-center">
								<%=image_tag wrestler.image.url, class: "img-responsive"  %>
								<h3><%= wrestler.name  %>
								</h3>
								<h6 class= "text-center"><p><%= link_to 'Wrestler Profile', wrestler, class: "btn btn-small btn-primary"
								%></p>
									<p><%= link_to 'Change Details', edit_wrestler_path(wrestler), class: "btn btn-small btn-info" %></p>
									<p><%= link_to 'You\'re Fired', wrestler, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn
		btn-small btn-danger" %></p></h6>
							</div>
						<%end  %>
					<%else  %>
							<h4 class ="intro-text text-center">
								You have no heel wrestlers able to compete in the Mid Card! <%= link_to 'Hire a new wrestler',
																																														 new_wrestler_path %><br>
								Turn a heel face! Turn a face heel! Promote somebody! Alternatively
							</h4><br>
							<h1 class = "text-center"> SHOVE THAT CONTROL INTO A NOSE DIVE!!!</h1>
					<%end  %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="row">
				<div class="box">
					<div class="col-lg-12">
						<hr>
						<h2 class="text-center">
							<strong>Your Wrestlers in the Low Card! </h2></strong>
						<h3 class ="intro-text text-center"><u>Babyfaces (Tecnicos)</u> </h3>
						<%unless @low_card_babyfaces.blank?  %>
							<% @low_card_babyfaces.each do |wrestler|  %>
								<div class="col-sm-4 text-center">
									<%=image_tag wrestler.image.url, class: "img-responsive"  %>
									<h3><%= wrestler.name  %>
									</h3>
									<h6 class= "text-center"><p><%= link_to 'Wrestler Profile', wrestler, class: "btn btn-small btn-primary"
									%></p>
										<p><%= link_to 'Change Details', edit_wrestler_path(wrestler), class: "btn btn-small btn-info" %></p>
										<p><%= link_to 'You\'re Fired', wrestler, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn
		btn-small btn-danger" %></p></h6>
								</div>
							<%end  %>
						<%else  %>
								<h4 class ="intro-text text-center">
									You have no babyface wrestlers able to compete in the Low Card! <%= link_to 'Hire a new wrestler',
																																															 new_wrestler_path %><br>
									Turn a heel face! Turn a face heel! Promote somebody! Alternatively
								</h4><br>
								<h1 class = "text-center"> SHOVE THAT CONTROL INTO A NOSE DIVE!!!</h1>
						<%end  %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="box">
					<div class="col-lg-12">
						<hr>
						<h3 class ="intro-text text-center"><u>Heels (Rudos)</u> </h3>
						<%unless @low_card_heels.blank?  %>
							<% @low_card_heels.each do |wrestler|  %>
								<div class="col-sm-4 text-center">
									<%=image_tag wrestler.image.url, class: "img-responsive"  %>
									<h3><%= wrestler.name  %>
									</h3>
									<h6 class= "text-center"><p><%= link_to 'Wrestler Profile', wrestler, class: "btn btn-small btn-primary"
									%></p>
										<p><%= link_to 'Change Details', edit_wrestler_path(wrestler), class: "btn btn-small btn-info" %></p>
										<p><%= link_to 'You\'re Fired', wrestler, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn
		btn-small btn-danger" %></p></h6>
								</div>
							<%end  %>
						<%else  %>
								<h4 class ="intro-text text-center">
									You have no heel wrestlers able to compete in the Low Card! <%= link_to 'Hire a new wrestler',
																																															 new_wrestler_path %><br>
									Turn a heel face! Turn a face heel! Promote somebody! Alternatively
								</h4><br>
								<h1 class = "text-center"> SHOVE THAT CONTROL INTO A NOSE DIVE!!!</h1>
						<%end  %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="row">
					<div class="box">
						<div class="col-lg-12">
							<hr>
							<h2 class="text-center">
								<strong>Your Wrestlers in the Undercard! </h2></strong>
							<h3 class ="intro-text text-center"><u>Babyfaces (Tecnicos)</u> </h3>
							<%unless @undercard_babyfaces.blank?  %>
								<% @undercard_babyfaces.each do |wrestler|  %>
									<div class="col-sm-4 text-center">
										<%=image_tag wrestler.image.url, class: "img-responsive"  %>
										<h3><%= wrestler.name  %>
										</h3>
										<h6 class= "text-center"><p><%= link_to 'Wrestler Profile', wrestler, class: "btn btn-small btn-primary"
										%></p>
											<p><%= link_to 'Change Details', edit_wrestler_path(wrestler), class: "btn btn-small btn-info" %></p>
											<p><%= link_to 'You\'re Fired', wrestler, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn
		btn-small btn-danger" %></p></h6>
									</div>
								<%end  %>
							<%else  %>
									<h4 class ="intro-text text-center">
										You have no babyface wrestlers able to compete in the Undercard! <%= link_to 'Hire a new wrestler',
																																																 new_wrestler_path %><br>
										Turn a heel face! Turn a face heel! Promote somebody! Alternatively
									</h4><br>
									<h1 class = "text-center"> SHOVE THAT CONTROL INTO A NOSE DIVE!!!</h1>
							<%end  %>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="box">
						<div class="col-lg-12">
							<hr>
							<h3 class ="intro-text text-center"><u>Heels (Rudos)</u> </h3>
							<%unless @undercard_heels.blank?  %>
								<% @undercard_heels.each do |wrestler|  %>
									<div class="col-sm-4 text-center">
										<%=image_tag wrestler.image.url, class: "img-responsive"  %>
										<h3><%= wrestler.name  %>
										</h3>
										<h6 class= "text-center"><p><%= link_to 'Wrestler Profile', wrestler, class: "btn btn-small btn-primary"
										%></p>
											<p><%= link_to 'Change Details', edit_wrestler_path(wrestler), class: "btn btn-small btn-info" %></p>
											<p><%= link_to 'You\'re Fired', wrestler, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn
		btn-small btn-danger" %></p></h6>
									</div>
								<%end  %>
							<%else  %>
									<h4 class ="intro-text text-center">
										You have no heel wrestlers able to compete in the Undercard! <%= link_to 'Hire a new wrestler',
																																																 new_wrestler_path %><br>
										Turn a heel face! Turn a face heel! Promote somebody! Alternatively
									</h4><br>
									<h1 class = "text-center"> SHOVE THAT CONTROL INTO A NOSE DIVE!!!</h1>
							<%end  %>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="box">
						<div class="col-lg-12">
							<hr>
<%= link_to 'New Wrestler', new_wrestler_path, class: "btn btn-large center-block btn-success" %>
</div></div></div>
