<div class="row">
	<div class="box">
		<div class="col-sm-6 col-sm-offset-3">
			<h3> What are the names and when are the dates of your next 3 shows?</h3>
<%= form_tag('/show', :action => show_index_path, :method => 'post') do %>

	<div class="form-group">
		<%= label_tag(:name1, 'What is the name of your first show') %><br>
		<%= text_field_tag :name1 %>
	</div>

  <div class="form-group">
    <%= label_tag(:date1, 'When is your next show?') %><br>
    <%= text_field_tag :date1 %>
  </div>

	<div class="form-group">
		<%= label_tag(:name2, 'What is the name of your second show') %><br>
		<%= text_field_tag :name2 %>
	</div>

	<div class="form-group">
    <%= label_tag(:date2, 'When is the show after that?') %><br>
    <%= text_field_tag :date2 %>
  </div>

	<div class="form-group">
		<%= label_tag(:name3, 'What is the name of your third show') %><br>
		<%= text_field_tag :name3 %>
	</div>

	<div class="form-group">
    <%= label_tag(:date3, 'When is your third show?') %><br>
    <%= text_field_tag :date3 %>
  </div>

  <div class='actions'>
    <%= submit_tag('Generate Cards!', :class => 'btn btn-large btn-primary') %>
  </div>

<% end %>
    </div>
  </div>
</div>
