<div class="container">
<div class="row">
	<div class="box">
		<div class="col-sm-8 col-sm-offset-2">
			<table class="center">
			<thead>
				<tr>
					<th colspan=5>
						<h1 class="text-center"> Card Number: <%= @card.id %></h1>
					</th>
				</tr>
			</thead>
			<tbody>
			<% @card.matches.each do |match|  %>
				<tr>
					<%unless match.heel.blank? || match.babyface.blank?  %>
						<td class="avatar_cell_babyface">
							<%=image_tag match.babyface.image.url, class: "img-responsive, avatar" %>
						</td>
						<td class="wrestler_name_babyface">
							<h4 class="intro-text"><u><%=match.babyface.name %></u></h4>
						</td>
						<td class="vs">
							<h2>         VS.       </h2>
						</td>
						<td class="wrestler_name_heel">
							<h4 class="intro-text"><u><%=match.heel.name %></u></h4>
						</td>
						<td class="avatar_cell_heel">
							<%=image_tag match.heel.image.url, class: "img-responsive, avatar"%>
						</td>
					<%else  %>
							<h2>Youd do not have enough wrestlers to have a match at this position. Hire a new wrestler,
								turn a face heel, or turn a heel face</h2>
					<%end  %>
					</tr>
			<%end %>
			</tbody>
		</table>
					</div>
				</div>
			</div>

</div>
