<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Cream Of The Crop" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Cream Of The Crop" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="author" content="Michael Nash">
		<!-- Custom CSS -->
		<link href="assets/business-casual.css" rel="stylesheet">
		<!-- Fonts -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
  </head>
  <body>
	<div class="brand">Cream of The Crop</div>
	<div class="address-bar">Thinking Smarter About Pro Wrestling</div>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<p>Copyright &copy; Cream of the Crop 2015</p>
					<p>Image attribution for the picture of <%= link_to 'Macho Man Randy Savage', ("https://c2.staticflickr.com/4/3943/15400899809_b0fc02fcbd_b.jpg") %> goes to <%=link_to 'Alan Teo', ("https://www.flickr.com/photos/alanosaur/15400899809/")  %> over at Flickr.  </p>
					<p>Image attribution for the picture of <%= link_to 'Macho Man and Miss Elizabeth', ("http://orig10
					.deviantart.net/38c4/f/2011/142/4/c/rest_in_peace_macho_man_by_jermainedivine-d3gzg4c.jpg") %> goes to
						<%=link_to 'Jermaine Divine', ("http://jermainedivine.deviantart.com/art/Rest-In-Peace-Macho-Man-209926236")  %> over at Deviant
						art.</p>
					<p>Would you like to learn more <%= link_to 'About', page_path('about') %> Cream of the Crop and its
						author?</p>
				</div>
			</div>
		</div>
	</footer>
  </body>
</html>
